*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vh; */
    min-height: 100vh;
    background-color: #091921;
    
}
.clock{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    background: url(https://miro.medium.com/max/800/1*F1irs2oWARQq1Oc9kCI4OA.png);
    background-size: cover;
    border: 4px solid #091921;
    box-shadow: 0-15px 15px rgba(255, 255, 255, 0.5),
                inset 0-15px 15px rgba(255, 255, 255, 0.5),
                0-15px 15px rgba(0, 0, 0, 0.3),
               inset 0-15px 15px rgba(0, 0, 0, 0.3);
/* border: white 25px solid; */
    border-radius: 50%;
    /* border-left: 0.5px solid rgba(255, 255, 255, 0.5);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
    border-right: 0.5px solid rgba(255, 255, 255, 0.5); */
}

.clock:before{
    content:'';
    position: absolute;
    width:15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
}

.clock .hour, .clock .min, .clock .sec
{
    position: absolute;
}

.clock .hour, .hr{
    width:160px;
    height:160px;
}
.clock .min, .mm{
    width: 190px;
    height: 190px;
}
.clock .sec, .ss{
       width: 230px;
       height: 230px; 
}

.hr, .mm, .ss{
    display: flex;
    justify-content: center;
    /* align-items:center; */
    position: absolute;
    border-radius: 50%;

}

.hr:before{
    content:'';
    position:absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mm:before{
    content:'';
    position:absolute;
    width: 4px;
    height: 90px;
    background: #fff;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.ss:before{
    content:'';
    position:absolute;
    width: 2px;
    height: 150px;
    background: #fff;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}
